table{
	margin-left: 34%;
	margin-top: 5%
}

td{
	width: 50px;
	height: 50px;
	border: 2px solid black;
	text-align: center;
}

.cell{
	background-color: white;
	transition: 999999999999s linear background-color;
}

.cell:hover:nth-child(1){
	background-color: red;
	transition: 0s;
}
.cell:hover:nth-child(2){
	background-color: orange;
	transition: 0s;
}
.cell:hover:nth-child(3){
	background-color: yellow;
	transition: 0s;
}
.cell:hover:nth-child(4){
	background-color: green;
	transition: 0s;
}
.cell:hover:nth-child(5){
	background-color: cyan;
	transition: 0s;
}
.cell:hover:nth-child(6){
	background-color: blue;
	transition: 0s;
}
.cell:hover:nth-child(7){
	background-color: purple ;
	transition: 0s;
}
.cell:hover:nth-child(8){
	background-color: white;
	transition: 0s;
}
.cell:hover:nth-child(9){
	background-color: black;
	transition: 0s;
}