b{
	color: rgb(198,85,124);
}
ins{
	color: rgb(67,228,54);
}
i{
	color: rgb(237,218,46);
}
del{
	color: rgb(82,168,201);
}
span{
	color: orange;
	font-size: 14pt;
	font-style: oblique;
	font-weight: 200;
	font-family: 
}